.contact-details p{
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.contact-details .title{
    display: flex;
    flex-direction:row;
    gap: 1rem;
    justify-content:flex-start;
    /* align-items: center; */
}
.contact-details ul{
    font-weight: 400;
    max-width: 450px;
    line-height: 2rem;
}
.contact-details ul p{
    margin-left: 3rem;
}
.contact-details ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
.contact-details ul li .svg{
    padding-right: 1rem;
}